@{
    ViewData["Title"] = "Home Page";
}

<h1>This is the Grade Calculator Home Page.</h1>
<h2>Would you like to:</h2>
<a asp-controller="Class" asp-action="Index" class="btn btn-info" style="font-size:28px">Begin calculating a new class?</a>
<br /><br />
<a asp-controller="Grade" asp-action="Index" class="btn btn-info" style="font-size: 28px">Begin calculating a single grade?</a>